<!doctype html>
<html lang="en">
<head>
    <title>Age&Gender Predictor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:,">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link href="static/css/style.css" rel="stylesheet">
</head>


<body class="text-center"
      style="background-image: url('../static/images/background_3.jpg');
        background-repeat: no-repeat;
        background-size: cover">
{% block content %}
{% endblock %}
<script src="static/js/jquery-3.4.1.min.js"></script>
<script src="static/js/index.js"></script>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>